/* sidebar */

.sidebar a:link,.sidebar a:visited {
  text-decoration:none;
  color:#404040;
}

.sidebar a:hover,.sidebar a:active {
  text-decoration:none;
  color:#BBBBBB;
}

/* Section - for main page content */

section p {
  text-align:justify;
}